body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.creative {
  color: midnightblue;
}

.left {
  float: left;
}

.right {
  float: right;  
}

@media (min-width: 701px) {

 .card {
    width: 45%;
  }

  .tile-image {
    float: left;
    margin-right: 50px;
    height: 200px;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  div.card {
    margin-bottom: 30px;
    text-align: justify;
  }

  .logo {
    width: 100px;
  }

  .tile-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}



